@import "../../src/css/scss/variable";

.b-faq-form {
  background-color: $light;
  border-radius: 6px;
  padding: 50px;
  margin-bottom: 50px;
  @media #{$sm} {
    padding: 20px;
  }
  .b-faq-form__wraper {
  }
}
