.btn {
  background-color: $main;
  border: 1px solid transparent;
  color: #fff;
  padding: 10px 50px;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.1s linear;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  &:hover {
    box-shadow: 0 0 10px 0 rgb(64, 64, 64, 0.43);
    border: 1px solid #fff;
  }
  &:active {
    box-shadow: 0 0 0px 0 rgb(64, 64, 64, 0.43);
    border: 1px solid #fff;
  }
  @media #{$sm} {
    // font-size: 18px;
    padding: 10px 25px;
  }
  @media #{$x} {
    width: 100%;
    font-size: 16px!important;
    white-space: break-spaces;
  }
}
.btn-revers {
  color: $main;
  border: 1px solid $main;
  padding: 10px 50px;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.1s linear;
  font-weight: 400;
  display: inline-block;
  &:hover {
    background-color: $main;
    color: #fff;
    box-shadow: 0 0 10px 0 rgb(64, 64, 64, 0.43);
    border: 1px solid #fff;
  }
  &:active {
    box-shadow: 0 0 0px 0 rgb(64, 64, 64, 0.43);
    border: 1px solid #fff;
  }
  @media #{$sm} {
    padding: 10px 25px;
  }
}

.btn-rev {
  color: #c6ced3;
  border: 1px solid #c6ced3;
  padding: 10px 25px;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.1s linear;
  font-weight: 500;
  display: inline-block;
  &:hover {
    color: #fff;
    border: 1px solid $main;
    background-color: $main;
  }
}

.btn-wrap {
  display: block;
  margin: 30px 0;
  > a {
    font-size: 21px;
    @media #{$sm} {
      font-size: 16px;
    }
  }
}

.b-header__wraper {
  .btn {
    font-size: 21px;
    margin: 20px 0 50px 0;
    @media #{$md} {
      margin: 20px 0;
      font-size: 18px;
    }
    @media #{$sm} {
      margin: 20px 0;
      font-size: 16px;
    }
  }
}
