// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";

$main: #575289;
$main2: #9df7de;
$main3: #ffe681;

$black: #0d0b1e;
$light-black: #545454;
$gray: #eeeef0;
$light: #eeeef0;
