@import "scss/variable";
// @import "scss/typo";
@import "scss/global";
@import "scss/single";
@import "scss/archive";
@import "scss/page";
@import "scss/btn";

@import "../../blocks/form/form.scss";
@import "scss/parts/parts";
.wp-block-spacer {
  background-color: #eeeef0 !important;
}

.anchor {
  height: 100px;
  background-color: #eeeef0 !important;
  border-radius: 6px;
  position: relative !important;
  z-index: 1 !important;
  margin-top: 0 !important;
  width: 100% !important;
  padding: 10px;
  &:before {
    content: "Anchor point";
    position: absolute;
    color: $main;
    background-color: $main;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
  }
}
.wp-block {
  max-width: 90%;
}
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 100%;
}
/* Width of "full-width" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

html :where(.wp-block)[data-align="right"] > * {
  float: none !important;
}

html :where(.wp-block)[data-align="left"] > * {
  float: none !important;
}

html :where(.wp-block)[data-align="left"],
html :where(.wp-block)[data-align="right"] {
  width: 100%;
  height: initial !important;
}
