@import "scss/variable";
// @import "scss/typo";
@import "scss/global";
@import "scss/single";
@import "scss/archive";
@import "scss/page";
@import "scss/btn";

@import "scss/parts/parts";
.wp-block-spacer {
  background-color: red !important;
}

.wp-block {
  max-width: 90%;
}
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 100%;
}
/* Width of "full-width" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

html :where(.wp-block)[data-align="right"] > * {
  float: none !important;
}
