@import "../../src/css/scss/variable";
.b-proces-l {
  .b-proces-l__wraper {
    ul {
      list-style: none;
      padding: 0;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 8px;
        height: 100%;
        background: rgb(157, 247, 222);
        background: linear-gradient(0deg, rgba(157, 247, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
        left: 31px;
      }
      li {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px dashed #808080;
        margin-bottom: 20px;
        padding: 20px 0;
        .b-proces__step {
          font-size: 21px;
          font-weight: 600;
          color: $main;
          background-color: #fff;
          padding: 10px 30px;
        }
        .b-proces__desc {
          h3 {
            font-size: 21px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
